.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.book {
  background-color: orange;
  flex-basis: 30%;
  display: flex;
  height: 22vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.625em;
  padding: 0.5vh;
  box-shadow: 2px 2px 10px lightgray;
}

.description {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book > button {
  flex: 0.5;
}

.title {
  flex: 0.75;
  display: flex;
  align-items: center;
  width: 95vw;
}

.books {
  display: flex;
  flex: 9;
  flex-wrap: wrap;
  width: 90vw;
  row-gap: 2vh;
  column-gap: 2vh;
  justify-content: center;
  overflow: auto;
  max-height: 70vh;
}

.foot {
  width: 80vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addBookDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(1);
  background-color: whitesmoke;
  padding: 3vh;
  border-radius: 1.625em;
  height: 45vh;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formToAddBook.active {
  transform: translate(-50%, -50%) scale(1);
}

.grayBg {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.css-b62m3t-container {
  width: 100%;
}

.css-1dimb5e-singleValue {
  height: 3vh;
}

.addBookDiv > input {
  height: 3.5vh;
}

.formToSell {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(1);
  background-color: whitesmoke;
  padding: 3vh;
  border-radius: 1.625em;
  height: 45vh;
  width: 30vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#priceWarning {
  font-size: 1.5vh;
  color: red;
}

.removeFromSell {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(1);
  background-color: whitesmoke;
  padding: 3vh;
  border-radius: 1.625em;
  height: 45vh;
  width: 30vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topup {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footTopUp {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountTopUp {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3vh;
  align-items: center;
}

.bottomBook {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottomBook > img {
  width: 2vw;
  height: auto;
}

.bottomBook > img:hover {
  width: 2.5vw;
  height: auto;
}

.removeCopy {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(1);
  background-color: whitesmoke;
  padding: 3vh;
  border-radius: 1.625em;
  height: 45vh;
  width: 30vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.users {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}

.user {
  display: flex;
  justify-content: space-around;
  border-bottom: solid black 1px;
}

.user > img {
  width: 2vw;
  height: auto;
}

.user > img:hover {
  width: 2.5vw;
  height: auto;
}

.basAdmin {
  flex: 5;
  display: flex;
  column-gap: 2vh;
}

.sidebar {
  flex: 1;
  display: flex;
  background-color: lightsalmon;
}

.containerAdmin {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.AdminLayout {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.AdminLayout>header{
  flex:1;
}


.authAdmin{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

li{
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.Link{
  color: black;
  text-decoration: none;
}

.Link:hover{
  color: orange;
}