.PublicLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
}

header{
    flex : 1;
    background-color:gray
}

.container{
    flex : 5;
}

.logoMain {
    height : 18vh;
    width:auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh
}

.rightHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 18vh;
}

.leftHeader {
    display: flex;
    flex-grow: 5;
}

.leftHeader>div {
    flex:5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftHeader>img{
    flex: 1;
}
